.card {
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
  width: 10rem;
  background-color: #1d1d1d;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.card div img {
  box-sizing: border-box;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.card p {
  margin: 0;
  color: white;
  padding-top: 5px;
}
.btn {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -30%);
  height: auto;
  width: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.2s ease-in;
}
.btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  height: 2.6rem;
  width: 2.6rem;
  background-color: #1db954;
}
.btn button span {
  transform: translate(10%, 3%);
  font-size: 20px;
}
.card:hover .btn {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.btn:hover button {
  cursor: pointer;
  background-color: #3bc967;
  transform: scale(1.05);
}
